body{ 
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}



.bnn1{ background-color: blue;}
.bnn2{background-color: red;}
.bnn3{ background-color: green;}
.bnn4{ background-color: black;}

