.header {
    display: flex;
    width: 100%;
    justify-content: space-between;


}

.stg {
    padding-left: 5px;
}

.menu {
    display: flex;
    background-color: black;
    padding-right: 40px;

}

.menu li {
    margin-left: 10px;
}


body,
ul,
li,
p {
    margin: 0px;

    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: aliceblue
}

body {
    background-color: rgb(66, 66, 66);
    color: white;
}


#fundotopo {
    background-image: url(../img/topo1.jpg);
    max-height: 100px;
    align-items: center;
    display: flex;
    background-size: 100% 100px;
}


/* ------------------ */

.pesquisa {
    max-width: 700px;
}

.input {
    width: 100%;
    margin-left: 2px;
    height: 30px;
    border-radius: 60px;
    align-content: center;
    text-align: center;
}

.login {
    max-width: 100px;
    align-items: center;
    display: flex;
}

.login>p {
    color: beige;
    width: 200px;
}

.carrinho {
    max-width: 100px;
    align-items: center;
}

.icon {
    max-width: 90%;
}

.textol {
    max-width: 200px;
}

hr {
    color: black;
    margin-bottom: 0;
}

main {
    position: relative;
}

.bnn {
    max-width: 100%;
}


.TxtBanner {

    position: absolute;
    display: block;
    width: 40%;
    height: 50%;
    background-color: blueviolet;
    margin: 0;
    top: 5%;
    right: 5%;
    font-size: 100%;


}





.Ppg1 {
    position: absolute;
    position: absolute;
    width: 40%;
    height: 60%;
    top: 20px;
    right: 5%;
    color: #55FBBF;
    font-size: 90px;
    text-align: center;
}

.Ppg2 {
    position: absolute;

    right: 5%;
    color: #55FBBF;
    font-size: 20px;
    text-align: center;
    top: 410px;
}


.btn1 {
    position: absolute;
    width: 300px;
    background: #A9DB69;
    color: black;
    padding: 25px;
    text-align: center;
    top: 480px;
    right: 11%;


}



h1 {
    font-size: clamp(1.75em, 1em + 3vw, 2.5em);
}


.banner{ position: relative;}




.box1{
    display: flex;
    flex-direction: column;
     max-width: 90%;
    
     background-color:  white;
     margin:0 auto;
     border-radius: 10px;
     margin-top: 30px;
     
    

}
.titulobox{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
     height: 60px;
    background-color:   #2e4e04; 
    color: white;
      
      
    }

.img00{ max-width: 100%;}


.fps1{ width: 300px;
    height: 200px;

margin-left: 5%;
}


/*                   ---------                      */


.box2{
    display: flex;
    flex-direction: column;
     max-width: 90%;
     max-height: 100%;
    background-color: white;
     color:black;
     margin:0 auto;
     border-radius: 10px;
     margin-top: 30px;
     margin-bottom: 30px;

}



.grid2{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    
   gap: 25px;
    
    justify-items: center;

}


.gb2{ max-width: 100%;
    width: 250px;}
.grid2> div{ display: 100%;}    
.grid2>div>label{text-align: center; padding-bottom: 10px;}

.gb2{
    display: flex;
    flex-direction: column;
    

}


.rodape{
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
 
    align-items:center;
    justify-content: space-between;
    margin: 0 auto;
    background-color: black;
   
}

.logope{ width: 250px;}

.informacoes{ 
    
    width: 400px; 
    display: grid;
    grid-template-columns: 2fr;
    
  
    /* background-color: azure; */
}

.icon2{ width: 25px; padding-right: 10px;}

.email{ display: flex; padding: 10px;}
.fone{ display: flex; padding: 10px; }

.midias{ width: 200px;}

.local10{ width: 400px;}
.local{ display: flex ;padding: 10px;}

.redesoc{ 
    display: grid;
    width: 80%;
    height: 100%;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
   
    
    
}



.icon3{width: 50px; padding-right: 20px; padding-top: 10px;}


.logop{width: 250px;}




















/*                   ---------                      */


@media screen and (max-width:414px) {

    #fundotopo {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .textol {
        display: none;
    }

    .container1 {
        width: 100%;
    }

    .header {
        justify-content: center;
    }

    .menu {
        display: none;
    }

    .pesquisa {
        display: none;
    }

    .Ppg1 {
        width: 30%;
        top: 5px;
        height: 60%;
        font-size: 19px;
    }

    .Ppg2 {
        width: 49%;

        font-size: 10px;
        right: 2%;
        top: 100px;




    }



    .btn1 {
        font-size: 10px;
        width: 150px;
        right: 5%;
        padding: 8px;
        top: 140px;
       

    }




    #PCT{ display: grid;
        max-width: 100%;
        max-height: 100%;
        grid-template-columns: repeat(5, 1fr  )  ;
        background-color: rgb(0, 0, 0);
        
        padding: 15px;
        gap: 20px;}

        .ptc {max-width: 100%;}



        .fps1 { max-width: 100%; margin-left: 15%;}


}

.grid2{ 
    display: grid;
    grid-template-columns: repeat(1, 1fr);





}


.rodape{ 
display: flex;
flex-wrap: wrap;
justify-content: center;

}

.icon2{ width: 45px;}


.midias{ max-height: 100px; margin-top: 20px; margin-bottom: 20px;}
