.header {
    display: flex;
    width: 100%;
    justify-content: space-between;


}

.stg {
    padding-left: 5px;
}

.menu {
    display: flex;
    background-color: black;
    padding-right: 40px;

}

.menu li {
    margin-left: 10px;
}


body,
ul,
li,
p {
    margin: 0px;

    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: aliceblue
}

body {
    background-color: rgb(66, 66, 66);
    color: white;
}


#fundotopo {
    background-image: url(../img/topo1.jpg);
    max-height: 100px;
    align-items: center;
    display: flex;
    background-size: 100% 100px;
}


/* ------------------ */

.pesquisa {
    max-width: 700px;
}

.input {
    width: 100%;
    margin-left: 2px;
    height: 30px;
    border-radius: 60px;
    align-content: center;
    text-align: center;
}

.login {
    max-width: 100px;
    align-items: center;
    display: flex;
}

.login>p {
    color: beige;
    width: 200px;
}

.carrinho {
    max-width: 100px;
    align-items: center;
}

.icon {
    max-width: 90%;
}

.textol {
    max-width: 200px;
}

hr {
    color: black;
    margin-bottom: 0;
}

main {
    position: relative;
}

.bnn {
    max-width: 100%;
}


.TxtBanner {

    position: absolute;
    display: block;
    width: 40%;
    height: 50%;
    background-color: blueviolet;
    margin: 0;
    top: 5%;
    right: 5%;
    font-size: 100%;


}



.carrossel{ align-content: flex-end;}

.Ppg1 {
   display: flex;
   justify-content: flex-end;
    color: #55FBBF;
    

}


.Ppg1 >p {font-size: 50px;
    margin-right: 5%;
    width: 310px;
    text-align: center;}

.Ppg2 {
    /* position: absolute; */

   display: flex;
   justify-content: flex-end;
    color: #55FBBF;
    
   
   
}

.Ppg2 >p {font-size: 12px;
    margin-right: 5%;
    width: 310px;
    text-align: center;}




.btn1 {
        /* position: absolute; */
    
       display: flex;
       justify-content: flex-end;
        color: #55FBBF;


        
}

.btn1 >a {
   
    width: 310px;
    background: #A9DB69;
    color: black;
    padding: 25px;
    font-size: 20px;
    margin-right: 5%;
    text-align: center;
   
  
    


}



h1 {
    font-size: clamp(1.75em, 1em + 3vw, 2.5em);
}


.banner{ position: relative;}




.box1{
    display: flex;
    /* flex-direction: column; */
     max-width: 90%;
    
     background-color:  white;
     margin:0 auto;
     border-radius: 10px;
     margin-top: 30px;
     
    

}
.titulobox{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
     height: 60px;
    background-color:   #2e4e04; 
    color: white;
      
      
    }

.img00{ max-width: 100%;}


.fps1{ width: 300px;
    height: 200px;

margin-left: 5%;
}


/*                   ---------                      */


.box2{
    display: flex;
    flex-direction: column;
     max-width: 90%;
     max-height: 100%;
    background-color: white;
     color:black;
     margin:0 auto;
     border-radius: 10px;
     margin-top: 30px;
     margin-bottom: 30px;

}



.grid2{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    
   gap: 25px;
    
    justify-items: center;

}


.gb2{ max-width: 100%;
    width: 250px;}
.grid2> div{ display: 100%;}    
.grid2>div>label{text-align: center; padding-bottom: 10px;}

.gb2{
    display: flex;
    flex-direction: column;
    

}


.rodape{
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
 
    align-items:center;
    justify-content: space-between;
    margin: 0 auto;
    background-color: black;
   
}

.logope{ width: 250px;}

.informacoes{ 
    
    width: 400px; 
    display: grid;
    grid-template-columns: 2fr;
    
  
    /* background-color: azure; */
}

.icon2{ width: 25px; padding-right: 10px;}

.email{ display: flex; padding: 10px;}
.fone{ display: flex; padding: 10px; }

.midias{ width: 200px;}

.local10{ width: 400px;}
.local{ display: flex ;padding: 10px;}

.redesoc{ 
    display: grid;
    width: 80%;
    height: 100%;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
   
    
    
}



.icon3{width: 50px; padding-right: 20px; padding-top: 10px;}


.logop{width: 250px;}





.banner {
       
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.bnn1{ background-image: url(../img/banner.jpg);
    height: 350px;

}


.bnn2{ background-image: url(../img/bnn2.jpg);
    height: 350px;

}

.bnn3{ background-image: url(../img/bnn3.jpg);
    height: 350px;

}


.posicionamento-banner{ align-items: flex-end;}


@media (max-width:897px){ 

.input{ display: none;}

#fundotopo {

        display: grid;
        grid-template-columns: repeat( 2, 1fr 100px);
        gap:0px

    }
   
    
    .textol {
        display: none;
    }
   




}


@media (max-width:600px){ }


@media (max-width:415px){ 


    #fundotopo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }




    .grid2{ display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    .textol {
        display: none;
    }

    .container1 {
        width: 100%;
    }

    .header {
        justify-content: center;
    }

    .menu {
        display: none;
    }

    .pesquisa {
        display: none;
    }


    .Ppg1{ justify-content: space-around;  background-color: rgb(0, 0, 0, 0.5);}
    .Ppg2{ justify-content: space-around;}
    .btn1{ justify-content: space-around;}


    .Ppg1 >p {
        
       
        
    align-items: center;
        right: 25%;
    }

    

    .Ppg2 {
        /* width: 49%; */

        font-size: 10px;
        right: 2%;
        /* top: 100px; */




    }

.carrossel{  display: flex;
    flex-wrap: wrap;
    align-content: center;
}

  




    #PCT{ display: grid;
        max-width: 100%;
        max-height: 100%;
        grid-template-columns: repeat(5, 1fr  )  ;
        background-color: rgb(0, 0, 0);
        
        padding: 15px;
        gap: 20px;}

        .ptc {max-width: 100%;}



        .fps1 { max-width: 100%; margin-left: 15%;}


}




.rodape{ 
display: flex;
flex-wrap: wrap;
justify-content: center;

}

.icon2{ width: 45px;}


.midias{ max-height: 100px; margin-top: 20px; margin-bottom: 20px;}



